<html>
<head>
    <title>Video Details</title>
</head>
<body>
   

    <p>Video lists: <br><br>
      <img style="border: 2px; align-items: right;" src={{data.iconUri}} />
        <li>shortName: {{data.shortName}} </li>    
        <li>manifestUri: {{data.manifestUri}} </li>
        <li>disabled: {{data.disabled}} </li>
        <li>source: {{data.source}} </li>
        <li>focus: {{data.focus}}</li>
        <li>features: {{data.features}} </li>
        <li>drm: {{data.drm}} </li>
        <li>licenseServers: {{data.licenseServers}} </li>
        <br><br><br>
        
           {% endfor %}
            
        
          </svg>
</body>
</html>
